/****** Object:  ForeignKey [FK_dbo.AcceptProducts_dbo.ContractAccepts_ContractSupplyId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AcceptProducts_dbo.ContractAccepts_ContractSupplyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AcceptProducts]'))
ALTER TABLE [dbo].[AcceptProducts] DROP CONSTRAINT [FK_dbo.AcceptProducts_dbo.ContractAccepts_ContractSupplyId]
GO
/****** Object:  ForeignKey [FK_dbo.AcceptProducts_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AcceptProducts_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AcceptProducts]'))
ALTER TABLE [dbo].[AcceptProducts] DROP CONSTRAINT [FK_dbo.AcceptProducts_dbo.Products_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractAccepts_dbo.ContractSupplies_ContractSupplyId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractAccepts_dbo.ContractSupplies_ContractSupplyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractAccepts]'))
ALTER TABLE [dbo].[ContractAccepts] DROP CONSTRAINT [FK_dbo.ContractAccepts_dbo.ContractSupplies_ContractSupplyId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractMoves_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractMoves_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractMoves]'))
ALTER TABLE [dbo].[ContractMoves] DROP CONSTRAINT [FK_dbo.ContractMoves_dbo.Products_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractMoves_dbo.StoreCells_StoreCellFromId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractMoves_dbo.StoreCells_StoreCellFromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractMoves]'))
ALTER TABLE [dbo].[ContractMoves] DROP CONSTRAINT [FK_dbo.ContractMoves_dbo.StoreCells_StoreCellFromId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractMoves_dbo.StoreCells_StoreCellToId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractMoves_dbo.StoreCells_StoreCellToId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractMoves]'))
ALTER TABLE [dbo].[ContractMoves] DROP CONSTRAINT [FK_dbo.ContractMoves_dbo.StoreCells_StoreCellToId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractShipments_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractShipments_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractShipments]'))
ALTER TABLE [dbo].[ContractShipments] DROP CONSTRAINT [FK_dbo.ContractShipments_dbo.Products_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractShipments_dbo.StoreCells_StoreCellFromId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractShipments_dbo.StoreCells_StoreCellFromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractShipments]'))
ALTER TABLE [dbo].[ContractShipments] DROP CONSTRAINT [FK_dbo.ContractShipments_dbo.StoreCells_StoreCellFromId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractSupplies_dbo.Contractors_ContractorId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractSupplies_dbo.Contractors_ContractorId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractSupplies]'))
ALTER TABLE [dbo].[ContractSupplies] DROP CONSTRAINT [FK_dbo.ContractSupplies_dbo.Contractors_ContractorId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractTechOperations_dbo.TechnologicalCards_TechCardId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractTechOperations_dbo.TechnologicalCards_TechCardId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractTechOperations]'))
ALTER TABLE [dbo].[ContractTechOperations] DROP CONSTRAINT [FK_dbo.ContractTechOperations_dbo.TechnologicalCards_TechCardId]
GO
/****** Object:  ForeignKey [FK_dbo.EmployeeRights_dbo.Employees_EmployeeId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.EmployeeRights_dbo.Employees_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeRights]'))
ALTER TABLE [dbo].[EmployeeRights] DROP CONSTRAINT [FK_dbo.EmployeeRights_dbo.Employees_EmployeeId]
GO
/****** Object:  ForeignKey [FK_dbo.Employees_dbo.Positions_PositionId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Employees_dbo.Positions_PositionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employees]'))
ALTER TABLE [dbo].[Employees] DROP CONSTRAINT [FK_dbo.Employees_dbo.Positions_PositionId]
GO
/****** Object:  ForeignKey [FK_dbo.ProductTechCards_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductTechCards_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductTechCards]'))
ALTER TABLE [dbo].[ProductTechCards] DROP CONSTRAINT [FK_dbo.ProductTechCards_dbo.Products_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.ProductTechCards_dbo.TechnologicalCards_TechCardId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductTechCards_dbo.TechnologicalCards_TechCardId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductTechCards]'))
ALTER TABLE [dbo].[ProductTechCards] DROP CONSTRAINT [FK_dbo.ProductTechCards_dbo.TechnologicalCards_TechCardId]
GO
/****** Object:  ForeignKey [FK_dbo.ReportBalances_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportBalances_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportBalances]'))
ALTER TABLE [dbo].[ReportBalances] DROP CONSTRAINT [FK_dbo.ReportBalances_dbo.Products_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.ReportBalances_dbo.StoreCells_StoreCellId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportBalances_dbo.StoreCells_StoreCellId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportBalances]'))
ALTER TABLE [dbo].[ReportBalances] DROP CONSTRAINT [FK_dbo.ReportBalances_dbo.StoreCells_StoreCellId]
GO
/****** Object:  ForeignKey [FK_dbo.ReportPredicts_dbo.ContractSupplies_ContractSupplyId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportPredicts_dbo.ContractSupplies_ContractSupplyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportPredicts]'))
ALTER TABLE [dbo].[ReportPredicts] DROP CONSTRAINT [FK_dbo.ReportPredicts_dbo.ContractSupplies_ContractSupplyId]
GO
/****** Object:  ForeignKey [FK_dbo.ReportPredicts_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportPredicts_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportPredicts]'))
ALTER TABLE [dbo].[ReportPredicts] DROP CONSTRAINT [FK_dbo.ReportPredicts_dbo.Products_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.ReportPredicts_dbo.Storehouses_StorehouseId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportPredicts_dbo.Storehouses_StorehouseId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportPredicts]'))
ALTER TABLE [dbo].[ReportPredicts] DROP CONSTRAINT [FK_dbo.ReportPredicts_dbo.Storehouses_StorehouseId]
GO
/****** Object:  ForeignKey [FK_dbo.StoreCells_dbo.Storehouses_StorehouseId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.StoreCells_dbo.Storehouses_StorehouseId]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoreCells]'))
ALTER TABLE [dbo].[StoreCells] DROP CONSTRAINT [FK_dbo.StoreCells_dbo.Storehouses_StorehouseId]
GO
/****** Object:  ForeignKey [FK_dbo.SupplyProducts_dbo.ContractSupplies_ContractSupplyId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.SupplyProducts_dbo.ContractSupplies_ContractSupplyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SupplyProducts]'))
ALTER TABLE [dbo].[SupplyProducts] DROP CONSTRAINT [FK_dbo.SupplyProducts_dbo.ContractSupplies_ContractSupplyId]
GO
/****** Object:  ForeignKey [FK_dbo.SupplyProducts_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.SupplyProducts_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SupplyProducts]'))
ALTER TABLE [dbo].[SupplyProducts] DROP CONSTRAINT [FK_dbo.SupplyProducts_dbo.Products_ProductId]
GO
/****** Object:  Table [dbo].[AcceptProducts]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AcceptProducts]') AND type in (N'U'))
DROP TABLE [dbo].[AcceptProducts]
GO
/****** Object:  Table [dbo].[ContractAccepts]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractAccepts]') AND type in (N'U'))
DROP TABLE [dbo].[ContractAccepts]
GO
/****** Object:  Table [dbo].[ContractMoves]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractMoves]') AND type in (N'U'))
DROP TABLE [dbo].[ContractMoves]
GO
/****** Object:  Table [dbo].[ContractShipments]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractShipments]') AND type in (N'U'))
DROP TABLE [dbo].[ContractShipments]
GO
/****** Object:  Table [dbo].[EmployeeRights]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeRights]') AND type in (N'U'))
DROP TABLE [dbo].[EmployeeRights]
GO
/****** Object:  Table [dbo].[ReportBalances]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReportBalances]') AND type in (N'U'))
DROP TABLE [dbo].[ReportBalances]
GO
/****** Object:  Table [dbo].[ReportPredicts]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReportPredicts]') AND type in (N'U'))
DROP TABLE [dbo].[ReportPredicts]
GO
/****** Object:  Table [dbo].[SupplyProducts]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SupplyProducts]') AND type in (N'U'))
DROP TABLE [dbo].[SupplyProducts]
GO
/****** Object:  Table [dbo].[ProductTechCards]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductTechCards]') AND type in (N'U'))
DROP TABLE [dbo].[ProductTechCards]
GO
/****** Object:  Table [dbo].[StoreCells]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StoreCells]') AND type in (N'U'))
DROP TABLE [dbo].[StoreCells]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employees]') AND type in (N'U'))
DROP TABLE [dbo].[Employees]
GO
/****** Object:  Table [dbo].[ContractSupplies]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractSupplies]') AND type in (N'U'))
DROP TABLE [dbo].[ContractSupplies]
GO
/****** Object:  Table [dbo].[ContractTechOperations]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractTechOperations]') AND type in (N'U'))
DROP TABLE [dbo].[ContractTechOperations]
GO
/****** Object:  Table [dbo].[Contractors]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Contractors]') AND type in (N'U'))
DROP TABLE [dbo].[Contractors]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Positions]') AND type in (N'U'))
DROP TABLE [dbo].[Positions]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[Storehouses]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Storehouses]') AND type in (N'U'))
DROP TABLE [dbo].[Storehouses]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__MigrationHistory]
GO
/****** Object:  Table [dbo].[TechnologicalCards]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TechnologicalCards]') AND type in (N'U'))
DROP TABLE [dbo].[TechnologicalCards]
GO
/****** Object:  Default [DF__ContractS__wasRe__37A5467C]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__ContractS__wasRe__37A5467C]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractSupplies]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__ContractS__wasRe__37A5467C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ContractSupplies] DROP CONSTRAINT [DF__ContractS__wasRe__37A5467C]
END


End
GO
/****** Object:  Default [DF__ContractS__numbe__38996AB5]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__ContractS__numbe__38996AB5]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractSupplies]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__ContractS__numbe__38996AB5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ContractSupplies] DROP CONSTRAINT [DF__ContractS__numbe__38996AB5]
END


End
GO
/****** Object:  Default [DF__ProductTec__Type__398D8EEE]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__ProductTec__Type__398D8EEE]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductTechCards]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__ProductTec__Type__398D8EEE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ProductTechCards] DROP CONSTRAINT [DF__ProductTec__Type__398D8EEE]
END


End
GO
/****** Object:  Default [DF__Technolog__Title__36B12243]    Script Date: 05/09/2016 20:36:57 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__Technolog__Title__36B12243]') AND parent_object_id = OBJECT_ID(N'[dbo].[TechnologicalCards]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__Technolog__Title__36B12243]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TechnologicalCards] DROP CONSTRAINT [DF__Technolog__Title__36B12243]
END


End
GO
/****** Object:  Table [dbo].[TechnologicalCards]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TechnologicalCards]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TechnologicalCards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Title] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [PK_dbo.TechnologicalCards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[TechnologicalCards] ON
INSERT [dbo].[TechnologicalCards] ([Id], [Date], [Title]) VALUES (1, CAST(0x0000A5B500000000 AS DateTime), N'Тех карта1')
INSERT [dbo].[TechnologicalCards] ([Id], [Date], [Title]) VALUES (2, CAST(0x0000A5BE00000000 AS DateTime), N'Тех карта2')
INSERT [dbo].[TechnologicalCards] ([Id], [Date], [Title]) VALUES (3, CAST(0x0000A5BE00000000 AS DateTime), N'Тех карта3')
SET IDENTITY_INSERT [dbo].[TechnologicalCards] OFF
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[ContextKey] [nvarchar](300) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Storehouses]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Storehouses]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Storehouses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Address] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [PK_dbo.Storehouses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Storehouses] ON
INSERT [dbo].[Storehouses] ([Id], [Name], [Address]) VALUES (1, N'Склад1', N'Пр Просвещения')
INSERT [dbo].[Storehouses] ([Id], [Name], [Address]) VALUES (2, N'Склад2', N'Ул Маршала Новикова2')
INSERT [dbo].[Storehouses] ([Id], [Name], [Address]) VALUES (3, N'Склад3', N'пр Ветеранов')
SET IDENTITY_INSERT [dbo].[Storehouses] OFF
/****** Object:  Table [dbo].[Products]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[VendorCode] [int] NOT NULL,
	[Description] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NULL,
	[Color] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Products] ON
INSERT [dbo].[Products] ([Id], [Name], [VendorCode], [Description], [Color]) VALUES (1, N'Стол', 5757, N'Круглый', N'Белый')
INSERT [dbo].[Products] ([Id], [Name], [VendorCode], [Description], [Color]) VALUES (2, N'Стол', 7879, N'Овальный', N'Коричневый')
INSERT [dbo].[Products] ([Id], [Name], [VendorCode], [Description], [Color]) VALUES (3, N'Стульчак', 3435, N'Мягкая обивка, без подлокотников', N'Бук')
SET IDENTITY_INSERT [dbo].[Products] OFF
/****** Object:  Table [dbo].[Positions]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Positions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Positions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [PK_dbo.Positions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Positions] ON
INSERT [dbo].[Positions] ([Id], [Name]) VALUES (1, N'Начальник склада')
INSERT [dbo].[Positions] ([Id], [Name]) VALUES (2, N'Бухгалтер')
INSERT [dbo].[Positions] ([Id], [Name]) VALUES (3, N'Кладовщик')
SET IDENTITY_INSERT [dbo].[Positions] OFF
/****** Object:  Table [dbo].[Contractors]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Contractors]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Contractors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Contractors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[Contractors] ON
INSERT [dbo].[Contractors] ([Id], [Name], [Type]) VALUES (1, N'ООО "Рога и копыта"', 2)
INSERT [dbo].[Contractors] ([Id], [Name], [Type]) VALUES (4, N'ООО "Застройщик"', 1)
INSERT [dbo].[Contractors] ([Id], [Name], [Type]) VALUES (5, N'ООО "Брянцев"', 2)
SET IDENTITY_INSERT [dbo].[Contractors] OFF
/****** Object:  Table [dbo].[ContractTechOperations]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractTechOperations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ContractTechOperations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[TechCardId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ContractTechOperations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContractTechOperations]') AND name = N'IX_TechCardId')
CREATE NONCLUSTERED INDEX [IX_TechCardId] ON [dbo].[ContractTechOperations] 
(
	[TechCardId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[ContractTechOperations] ON
INSERT [dbo].[ContractTechOperations] ([Id], [Date], [TechCardId], [Amount]) VALUES (1, CAST(0x0000A5AB00000000 AS DateTime), 1, 7)
INSERT [dbo].[ContractTechOperations] ([Id], [Date], [TechCardId], [Amount]) VALUES (2, CAST(0x0000A5AE00000000 AS DateTime), 2, 3)
SET IDENTITY_INSERT [dbo].[ContractTechOperations] OFF
/****** Object:  Table [dbo].[ContractSupplies]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractSupplies]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ContractSupplies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ContractorId] [int] NOT NULL,
	[wasReceived] [bit] NOT NULL,
	[numberOfSupply] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ContractSupplies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContractSupplies]') AND name = N'IX_ContractorId')
CREATE NONCLUSTERED INDEX [IX_ContractorId] ON [dbo].[ContractSupplies] 
(
	[ContractorId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[ContractSupplies] ON
INSERT [dbo].[ContractSupplies] ([Id], [Date], [ContractorId], [wasReceived], [numberOfSupply]) VALUES (1, CAST(0x0000A5AD00000000 AS DateTime), 1, 1, 1)
INSERT [dbo].[ContractSupplies] ([Id], [Date], [ContractorId], [wasReceived], [numberOfSupply]) VALUES (6, CAST(0x0000A5B000000000 AS DateTime), 4, 1, 2)
INSERT [dbo].[ContractSupplies] ([Id], [Date], [ContractorId], [wasReceived], [numberOfSupply]) VALUES (7, CAST(0x0000A5B900000000 AS DateTime), 5, 1, 3)
SET IDENTITY_INSERT [dbo].[ContractSupplies] OFF
/****** Object:  Table [dbo].[Employees]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employees]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Name] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Patronymic] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NULL,
	[Login] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Password] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[PositionId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Employees]') AND name = N'IX_PositionId')
CREATE NONCLUSTERED INDEX [IX_PositionId] ON [dbo].[Employees] 
(
	[PositionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[Employees] ON
INSERT [dbo].[Employees] ([Id], [Surname], [Name], [Patronymic], [Login], [Password], [PositionId]) VALUES (1, N'F', N'Mary', NULL, N'mary', N'2101', 1)
INSERT [dbo].[Employees] ([Id], [Surname], [Name], [Patronymic], [Login], [Password], [PositionId]) VALUES (2, N'Grozin', N'Vlad', NULL, N'vlad', N'0608', 2)
INSERT [dbo].[Employees] ([Id], [Surname], [Name], [Patronymic], [Login], [Password], [PositionId]) VALUES (3, N'Baeva', N'Daria', NULL, N'daria', N'1301', 3)
SET IDENTITY_INSERT [dbo].[Employees] OFF
/****** Object:  Table [dbo].[StoreCells]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[StoreCells]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[StoreCells](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StorehouseId] [int] NOT NULL,
	[Description] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [PK_dbo.StoreCells] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[StoreCells]') AND name = N'IX_StorehouseId')
CREATE NONCLUSTERED INDEX [IX_StorehouseId] ON [dbo].[StoreCells] 
(
	[StorehouseId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[StoreCells] ON
INSERT [dbo].[StoreCells] ([Id], [StorehouseId], [Description]) VALUES (1, 1, N'Железобетонная')
INSERT [dbo].[StoreCells] ([Id], [StorehouseId], [Description]) VALUES (2, 2, N'С обивкой из стали')
INSERT [dbo].[StoreCells] ([Id], [StorehouseId], [Description]) VALUES (3, 4, N'С обивкой из стали88')
SET IDENTITY_INSERT [dbo].[StoreCells] OFF
/****** Object:  Table [dbo].[ProductTechCards]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductTechCards]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductTechCards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[TechCardId] [int] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductTechCards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ProductTechCards]') AND name = N'IX_ProductId')
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ProductTechCards] 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ProductTechCards]') AND name = N'IX_TechCardId')
CREATE NONCLUSTERED INDEX [IX_TechCardId] ON [dbo].[ProductTechCards] 
(
	[TechCardId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[ProductTechCards] ON
INSERT [dbo].[ProductTechCards] ([Id], [ProductId], [Amount], [TechCardId], [Type]) VALUES (1, 3, 4, 1, 1)
INSERT [dbo].[ProductTechCards] ([Id], [ProductId], [Amount], [TechCardId], [Type]) VALUES (2, 4, 1, 1, 1)
INSERT [dbo].[ProductTechCards] ([Id], [ProductId], [Amount], [TechCardId], [Type]) VALUES (3, 1, 3, 1, 2)
SET IDENTITY_INSERT [dbo].[ProductTechCards] OFF
/****** Object:  Table [dbo].[SupplyProducts]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SupplyProducts]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SupplyProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[ContractSupplyId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SupplyProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[SupplyProducts]') AND name = N'IX_ContractSupplyId')
CREATE NONCLUSTERED INDEX [IX_ContractSupplyId] ON [dbo].[SupplyProducts] 
(
	[ContractSupplyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[SupplyProducts]') AND name = N'IX_ProductId')
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[SupplyProducts] 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[SupplyProducts] ON
INSERT [dbo].[SupplyProducts] ([Id], [ProductId], [Amount], [ContractSupplyId]) VALUES (1, 1, 2, 1)
INSERT [dbo].[SupplyProducts] ([Id], [ProductId], [Amount], [ContractSupplyId]) VALUES (2, 3, 3, 1)
INSERT [dbo].[SupplyProducts] ([Id], [ProductId], [Amount], [ContractSupplyId]) VALUES (3, 2, 4, 6)
SET IDENTITY_INSERT [dbo].[SupplyProducts] OFF
/****** Object:  Table [dbo].[ReportPredicts]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReportPredicts]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ReportPredicts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[StorehouseId] [int] NOT NULL,
	[ContractSupplyId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Predict] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ReportPredicts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ReportPredicts]') AND name = N'IX_ContractSupplyId')
CREATE NONCLUSTERED INDEX [IX_ContractSupplyId] ON [dbo].[ReportPredicts] 
(
	[ContractSupplyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ReportPredicts]') AND name = N'IX_ProductId')
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ReportPredicts] 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ReportPredicts]') AND name = N'IX_StorehouseId')
CREATE NONCLUSTERED INDEX [IX_StorehouseId] ON [dbo].[ReportPredicts] 
(
	[StorehouseId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[ReportPredicts] ON
INSERT [dbo].[ReportPredicts] ([Id], [Date], [StorehouseId], [ContractSupplyId], [ProductId], [Amount], [Predict]) VALUES (2, CAST(0x0000A5CC00000000 AS DateTime), 3, 1, 3, 2, 4)
INSERT [dbo].[ReportPredicts] ([Id], [Date], [StorehouseId], [ContractSupplyId], [ProductId], [Amount], [Predict]) VALUES (4, CAST(0x0000A5CF00000000 AS DateTime), 2, 6, 1, 2, 5)
SET IDENTITY_INSERT [dbo].[ReportPredicts] OFF
/****** Object:  Table [dbo].[ReportBalances]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReportBalances]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ReportBalances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[StoreCellId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ReportBalances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ReportBalances]') AND name = N'IX_ProductId')
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ReportBalances] 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ReportBalances]') AND name = N'IX_StoreCellId')
CREATE NONCLUSTERED INDEX [IX_StoreCellId] ON [dbo].[ReportBalances] 
(
	[StoreCellId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[ReportBalances] ON
INSERT [dbo].[ReportBalances] ([Id], [Date], [StoreCellId], [ProductId], [Amount]) VALUES (1, CAST(0x0000A58C00000000 AS DateTime), 3, 3, 2)
INSERT [dbo].[ReportBalances] ([Id], [Date], [StoreCellId], [ProductId], [Amount]) VALUES (2, CAST(0x0000A5AD00000000 AS DateTime), 2, 1, 3)
INSERT [dbo].[ReportBalances] ([Id], [Date], [StoreCellId], [ProductId], [Amount]) VALUES (3, CAST(0x0000A5AF00000000 AS DateTime), 5, 4, 5)
SET IDENTITY_INSERT [dbo].[ReportBalances] OFF
/****** Object:  Table [dbo].[EmployeeRights]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeRights]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmployeeRights](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EmployeeRights] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeRights]') AND name = N'IX_EmployeeId')
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[EmployeeRights] 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[EmployeeRights] ON
INSERT [dbo].[EmployeeRights] ([Id], [EmployeeId], [Type]) VALUES (1, 1, 3)
INSERT [dbo].[EmployeeRights] ([Id], [EmployeeId], [Type]) VALUES (3, 2, 1)
INSERT [dbo].[EmployeeRights] ([Id], [EmployeeId], [Type]) VALUES (4, 3, 3)
SET IDENTITY_INSERT [dbo].[EmployeeRights] OFF
/****** Object:  Table [dbo].[ContractShipments]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractShipments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ContractShipments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[StoreCellFromId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ContractShipments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContractShipments]') AND name = N'IX_ProductId')
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ContractShipments] 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContractShipments]') AND name = N'IX_StoreCellFromId')
CREATE NONCLUSTERED INDEX [IX_StoreCellFromId] ON [dbo].[ContractShipments] 
(
	[StoreCellFromId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[ContractShipments] ON
INSERT [dbo].[ContractShipments] ([Id], [Date], [StoreCellFromId], [ProductId], [Amount]) VALUES (1, CAST(0x0000A5B600000000 AS DateTime), 6, 3, 3)
INSERT [dbo].[ContractShipments] ([Id], [Date], [StoreCellFromId], [ProductId], [Amount]) VALUES (2, CAST(0x0000A5B700000000 AS DateTime), 5, 1, 3)
INSERT [dbo].[ContractShipments] ([Id], [Date], [StoreCellFromId], [ProductId], [Amount]) VALUES (3, CAST(0x0000A5CB00000000 AS DateTime), 1, 4, 3)
SET IDENTITY_INSERT [dbo].[ContractShipments] OFF
/****** Object:  Table [dbo].[ContractMoves]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractMoves]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ContractMoves](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[StoreCellFromId] [int] NOT NULL,
	[StoreCellToId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ContractMoves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContractMoves]') AND name = N'IX_ProductId')
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ContractMoves] 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContractMoves]') AND name = N'IX_StoreCellFromId')
CREATE NONCLUSTERED INDEX [IX_StoreCellFromId] ON [dbo].[ContractMoves] 
(
	[StoreCellFromId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContractMoves]') AND name = N'IX_StoreCellToId')
CREATE NONCLUSTERED INDEX [IX_StoreCellToId] ON [dbo].[ContractMoves] 
(
	[StoreCellToId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[ContractMoves] ON
INSERT [dbo].[ContractMoves] ([Id], [Date], [StoreCellFromId], [StoreCellToId], [ProductId], [Amount]) VALUES (1, CAST(0x0000A5B300000000 AS DateTime), 6, 2, 2, 2)
INSERT [dbo].[ContractMoves] ([Id], [Date], [StoreCellFromId], [StoreCellToId], [ProductId], [Amount]) VALUES (2, CAST(0x0000A5B700000000 AS DateTime), 2, 3, 4, 3)
INSERT [dbo].[ContractMoves] ([Id], [Date], [StoreCellFromId], [StoreCellToId], [ProductId], [Amount]) VALUES (3, CAST(0x0000A5BB00000000 AS DateTime), 3, 1, 3, 7)
SET IDENTITY_INSERT [dbo].[ContractMoves] OFF
/****** Object:  Table [dbo].[ContractAccepts]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractAccepts]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ContractAccepts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ContractSupplyId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ContractAccepts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[ContractAccepts]') AND name = N'IX_ContractSupplyId')
CREATE NONCLUSTERED INDEX [IX_ContractSupplyId] ON [dbo].[ContractAccepts] 
(
	[ContractSupplyId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[ContractAccepts] ON
INSERT [dbo].[ContractAccepts] ([Id], [Date], [ContractSupplyId]) VALUES (1, CAST(0x0000A5B500000000 AS DateTime), 1)
INSERT [dbo].[ContractAccepts] ([Id], [Date], [ContractSupplyId]) VALUES (2, CAST(0x0000A5C100000000 AS DateTime), 6)
SET IDENTITY_INSERT [dbo].[ContractAccepts] OFF
/****** Object:  Table [dbo].[AcceptProducts]    Script Date: 05/09/2016 20:36:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AcceptProducts]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AcceptProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[ContractAcceptId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AcceptProducts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AcceptProducts]') AND name = N'IX_ContractAcceptId')
CREATE NONCLUSTERED INDEX [IX_ContractAcceptId] ON [dbo].[AcceptProducts] 
(
	[ContractAcceptId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[AcceptProducts]') AND name = N'IX_ProductId')
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[AcceptProducts] 
(
	[ProductId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
SET IDENTITY_INSERT [dbo].[AcceptProducts] ON
INSERT [dbo].[AcceptProducts] ([Id], [ProductId], [Amount], [ContractAcceptId]) VALUES (4, 3, 3, 1)
INSERT [dbo].[AcceptProducts] ([Id], [ProductId], [Amount], [ContractAcceptId]) VALUES (5, 1, 6, 2)
SET IDENTITY_INSERT [dbo].[AcceptProducts] OFF
/****** Object:  Default [DF__ContractS__wasRe__37A5467C]    Script Date: 05/09/2016 20:36:57 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__ContractS__wasRe__37A5467C]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractSupplies]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__ContractS__wasRe__37A5467C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ContractSupplies] ADD  CONSTRAINT [DF__ContractS__wasRe__37A5467C]  DEFAULT ((0)) FOR [wasReceived]
END


End
GO
/****** Object:  Default [DF__ContractS__numbe__38996AB5]    Script Date: 05/09/2016 20:36:57 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__ContractS__numbe__38996AB5]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractSupplies]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__ContractS__numbe__38996AB5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ContractSupplies] ADD  CONSTRAINT [DF__ContractS__numbe__38996AB5]  DEFAULT ((0)) FOR [numberOfSupply]
END


End
GO
/****** Object:  Default [DF__ProductTec__Type__398D8EEE]    Script Date: 05/09/2016 20:36:57 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__ProductTec__Type__398D8EEE]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductTechCards]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__ProductTec__Type__398D8EEE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ProductTechCards] ADD  CONSTRAINT [DF__ProductTec__Type__398D8EEE]  DEFAULT ((0)) FOR [Type]
END


End
GO
/****** Object:  Default [DF__Technolog__Title__36B12243]    Script Date: 05/09/2016 20:36:57 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF__Technolog__Title__36B12243]') AND parent_object_id = OBJECT_ID(N'[dbo].[TechnologicalCards]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF__Technolog__Title__36B12243]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TechnologicalCards] ADD  CONSTRAINT [DF__Technolog__Title__36B12243]  DEFAULT ('') FOR [Title]
END


End
GO
/****** Object:  ForeignKey [FK_dbo.AcceptProducts_dbo.ContractAccepts_ContractSupplyId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AcceptProducts_dbo.ContractAccepts_ContractSupplyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AcceptProducts]'))
ALTER TABLE [dbo].[AcceptProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AcceptProducts_dbo.ContractAccepts_ContractSupplyId] FOREIGN KEY([ContractAcceptId])
REFERENCES [dbo].[ContractAccepts] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AcceptProducts_dbo.ContractAccepts_ContractSupplyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AcceptProducts]'))
ALTER TABLE [dbo].[AcceptProducts] CHECK CONSTRAINT [FK_dbo.AcceptProducts_dbo.ContractAccepts_ContractSupplyId]
GO
/****** Object:  ForeignKey [FK_dbo.AcceptProducts_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AcceptProducts_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AcceptProducts]'))
ALTER TABLE [dbo].[AcceptProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AcceptProducts_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.AcceptProducts_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[AcceptProducts]'))
ALTER TABLE [dbo].[AcceptProducts] CHECK CONSTRAINT [FK_dbo.AcceptProducts_dbo.Products_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractAccepts_dbo.ContractSupplies_ContractSupplyId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractAccepts_dbo.ContractSupplies_ContractSupplyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractAccepts]'))
ALTER TABLE [dbo].[ContractAccepts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContractAccepts_dbo.ContractSupplies_ContractSupplyId] FOREIGN KEY([ContractSupplyId])
REFERENCES [dbo].[ContractSupplies] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractAccepts_dbo.ContractSupplies_ContractSupplyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractAccepts]'))
ALTER TABLE [dbo].[ContractAccepts] CHECK CONSTRAINT [FK_dbo.ContractAccepts_dbo.ContractSupplies_ContractSupplyId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractMoves_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractMoves_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractMoves]'))
ALTER TABLE [dbo].[ContractMoves]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContractMoves_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractMoves_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractMoves]'))
ALTER TABLE [dbo].[ContractMoves] CHECK CONSTRAINT [FK_dbo.ContractMoves_dbo.Products_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractMoves_dbo.StoreCells_StoreCellFromId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractMoves_dbo.StoreCells_StoreCellFromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractMoves]'))
ALTER TABLE [dbo].[ContractMoves]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContractMoves_dbo.StoreCells_StoreCellFromId] FOREIGN KEY([StoreCellFromId])
REFERENCES [dbo].[StoreCells] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractMoves_dbo.StoreCells_StoreCellFromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractMoves]'))
ALTER TABLE [dbo].[ContractMoves] CHECK CONSTRAINT [FK_dbo.ContractMoves_dbo.StoreCells_StoreCellFromId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractMoves_dbo.StoreCells_StoreCellToId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractMoves_dbo.StoreCells_StoreCellToId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractMoves]'))
ALTER TABLE [dbo].[ContractMoves]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContractMoves_dbo.StoreCells_StoreCellToId] FOREIGN KEY([StoreCellToId])
REFERENCES [dbo].[StoreCells] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractMoves_dbo.StoreCells_StoreCellToId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractMoves]'))
ALTER TABLE [dbo].[ContractMoves] CHECK CONSTRAINT [FK_dbo.ContractMoves_dbo.StoreCells_StoreCellToId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractShipments_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractShipments_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractShipments]'))
ALTER TABLE [dbo].[ContractShipments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContractShipments_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractShipments_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractShipments]'))
ALTER TABLE [dbo].[ContractShipments] CHECK CONSTRAINT [FK_dbo.ContractShipments_dbo.Products_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractShipments_dbo.StoreCells_StoreCellFromId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractShipments_dbo.StoreCells_StoreCellFromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractShipments]'))
ALTER TABLE [dbo].[ContractShipments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContractShipments_dbo.StoreCells_StoreCellFromId] FOREIGN KEY([StoreCellFromId])
REFERENCES [dbo].[StoreCells] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractShipments_dbo.StoreCells_StoreCellFromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractShipments]'))
ALTER TABLE [dbo].[ContractShipments] CHECK CONSTRAINT [FK_dbo.ContractShipments_dbo.StoreCells_StoreCellFromId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractSupplies_dbo.Contractors_ContractorId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractSupplies_dbo.Contractors_ContractorId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractSupplies]'))
ALTER TABLE [dbo].[ContractSupplies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContractSupplies_dbo.Contractors_ContractorId] FOREIGN KEY([ContractorId])
REFERENCES [dbo].[Contractors] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractSupplies_dbo.Contractors_ContractorId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractSupplies]'))
ALTER TABLE [dbo].[ContractSupplies] CHECK CONSTRAINT [FK_dbo.ContractSupplies_dbo.Contractors_ContractorId]
GO
/****** Object:  ForeignKey [FK_dbo.ContractTechOperations_dbo.TechnologicalCards_TechCardId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractTechOperations_dbo.TechnologicalCards_TechCardId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractTechOperations]'))
ALTER TABLE [dbo].[ContractTechOperations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContractTechOperations_dbo.TechnologicalCards_TechCardId] FOREIGN KEY([TechCardId])
REFERENCES [dbo].[TechnologicalCards] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ContractTechOperations_dbo.TechnologicalCards_TechCardId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractTechOperations]'))
ALTER TABLE [dbo].[ContractTechOperations] CHECK CONSTRAINT [FK_dbo.ContractTechOperations_dbo.TechnologicalCards_TechCardId]
GO
/****** Object:  ForeignKey [FK_dbo.EmployeeRights_dbo.Employees_EmployeeId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.EmployeeRights_dbo.Employees_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeRights]'))
ALTER TABLE [dbo].[EmployeeRights]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EmployeeRights_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.EmployeeRights_dbo.Employees_EmployeeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[EmployeeRights]'))
ALTER TABLE [dbo].[EmployeeRights] CHECK CONSTRAINT [FK_dbo.EmployeeRights_dbo.Employees_EmployeeId]
GO
/****** Object:  ForeignKey [FK_dbo.Employees_dbo.Positions_PositionId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Employees_dbo.Positions_PositionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employees]'))
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Positions_PositionId] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Positions] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Employees_dbo.Positions_PositionId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Employees]'))
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Positions_PositionId]
GO
/****** Object:  ForeignKey [FK_dbo.ProductTechCards_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductTechCards_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductTechCards]'))
ALTER TABLE [dbo].[ProductTechCards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductTechCards_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductTechCards_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductTechCards]'))
ALTER TABLE [dbo].[ProductTechCards] CHECK CONSTRAINT [FK_dbo.ProductTechCards_dbo.Products_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.ProductTechCards_dbo.TechnologicalCards_TechCardId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductTechCards_dbo.TechnologicalCards_TechCardId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductTechCards]'))
ALTER TABLE [dbo].[ProductTechCards]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductTechCards_dbo.TechnologicalCards_TechCardId] FOREIGN KEY([TechCardId])
REFERENCES [dbo].[TechnologicalCards] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ProductTechCards_dbo.TechnologicalCards_TechCardId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProductTechCards]'))
ALTER TABLE [dbo].[ProductTechCards] CHECK CONSTRAINT [FK_dbo.ProductTechCards_dbo.TechnologicalCards_TechCardId]
GO
/****** Object:  ForeignKey [FK_dbo.ReportBalances_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportBalances_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportBalances]'))
ALTER TABLE [dbo].[ReportBalances]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReportBalances_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportBalances_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportBalances]'))
ALTER TABLE [dbo].[ReportBalances] CHECK CONSTRAINT [FK_dbo.ReportBalances_dbo.Products_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.ReportBalances_dbo.StoreCells_StoreCellId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportBalances_dbo.StoreCells_StoreCellId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportBalances]'))
ALTER TABLE [dbo].[ReportBalances]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReportBalances_dbo.StoreCells_StoreCellId] FOREIGN KEY([StoreCellId])
REFERENCES [dbo].[StoreCells] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportBalances_dbo.StoreCells_StoreCellId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportBalances]'))
ALTER TABLE [dbo].[ReportBalances] CHECK CONSTRAINT [FK_dbo.ReportBalances_dbo.StoreCells_StoreCellId]
GO
/****** Object:  ForeignKey [FK_dbo.ReportPredicts_dbo.ContractSupplies_ContractSupplyId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportPredicts_dbo.ContractSupplies_ContractSupplyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportPredicts]'))
ALTER TABLE [dbo].[ReportPredicts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReportPredicts_dbo.ContractSupplies_ContractSupplyId] FOREIGN KEY([ContractSupplyId])
REFERENCES [dbo].[ContractSupplies] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportPredicts_dbo.ContractSupplies_ContractSupplyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportPredicts]'))
ALTER TABLE [dbo].[ReportPredicts] CHECK CONSTRAINT [FK_dbo.ReportPredicts_dbo.ContractSupplies_ContractSupplyId]
GO
/****** Object:  ForeignKey [FK_dbo.ReportPredicts_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportPredicts_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportPredicts]'))
ALTER TABLE [dbo].[ReportPredicts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReportPredicts_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportPredicts_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportPredicts]'))
ALTER TABLE [dbo].[ReportPredicts] CHECK CONSTRAINT [FK_dbo.ReportPredicts_dbo.Products_ProductId]
GO
/****** Object:  ForeignKey [FK_dbo.ReportPredicts_dbo.Storehouses_StorehouseId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportPredicts_dbo.Storehouses_StorehouseId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportPredicts]'))
ALTER TABLE [dbo].[ReportPredicts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ReportPredicts_dbo.Storehouses_StorehouseId] FOREIGN KEY([StorehouseId])
REFERENCES [dbo].[Storehouses] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.ReportPredicts_dbo.Storehouses_StorehouseId]') AND parent_object_id = OBJECT_ID(N'[dbo].[ReportPredicts]'))
ALTER TABLE [dbo].[ReportPredicts] CHECK CONSTRAINT [FK_dbo.ReportPredicts_dbo.Storehouses_StorehouseId]
GO
/****** Object:  ForeignKey [FK_dbo.StoreCells_dbo.Storehouses_StorehouseId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.StoreCells_dbo.Storehouses_StorehouseId]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoreCells]'))
ALTER TABLE [dbo].[StoreCells]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StoreCells_dbo.Storehouses_StorehouseId] FOREIGN KEY([StorehouseId])
REFERENCES [dbo].[Storehouses] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.StoreCells_dbo.Storehouses_StorehouseId]') AND parent_object_id = OBJECT_ID(N'[dbo].[StoreCells]'))
ALTER TABLE [dbo].[StoreCells] CHECK CONSTRAINT [FK_dbo.StoreCells_dbo.Storehouses_StorehouseId]
GO
/****** Object:  ForeignKey [FK_dbo.SupplyProducts_dbo.ContractSupplies_ContractSupplyId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.SupplyProducts_dbo.ContractSupplies_ContractSupplyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SupplyProducts]'))
ALTER TABLE [dbo].[SupplyProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SupplyProducts_dbo.ContractSupplies_ContractSupplyId] FOREIGN KEY([ContractSupplyId])
REFERENCES [dbo].[ContractSupplies] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.SupplyProducts_dbo.ContractSupplies_ContractSupplyId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SupplyProducts]'))
ALTER TABLE [dbo].[SupplyProducts] CHECK CONSTRAINT [FK_dbo.SupplyProducts_dbo.ContractSupplies_ContractSupplyId]
GO
/****** Object:  ForeignKey [FK_dbo.SupplyProducts_dbo.Products_ProductId]    Script Date: 05/09/2016 20:36:57 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.SupplyProducts_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SupplyProducts]'))
ALTER TABLE [dbo].[SupplyProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SupplyProducts_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.SupplyProducts_dbo.Products_ProductId]') AND parent_object_id = OBJECT_ID(N'[dbo].[SupplyProducts]'))
ALTER TABLE [dbo].[SupplyProducts] CHECK CONSTRAINT [FK_dbo.SupplyProducts_dbo.Products_ProductId]
GO
